<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="navbar">
                <img src="../static/img/Site-logo.png" alt="">
                <nav>
                    <a href="./work.html">Work</a>
                    <a href="./about.html">About</a>
                    <a href="./contact.html">Contact</a>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <section>
            <div class="container">
                <div class="hero">
                    <div class="hero-text">
                        <h1>Hi I’m Mehmet Akif Karasu, 3D artist & sculptor.</h1>
                        <p>My work is mainly focused on third-dimension modeling, texturing and rendering. I like exploring the creatures with a touch of dark surrealism for characters and production.</p>
                        <p>Now I’m an interactive media design student in Istanbul ⏤ currently freelancing and seeking internship opportunities.</p>
                    </div>
                   <div class="hero-img">
                    <img src="../static/img/hero-img.png" alt="">
                   </div>
                </div>
            </div>
           
        </section>
        <section>
            <div class="container">
                skills section
            </div>
        </section>
        <section>
            <div class="container">
                contact section
            </div>
        </section>
    </main>

    <footer>
        <div class="container">
          footer
        </div>
    </footer>
</body>
</html>