*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;
}

.hero{
    display: flex;
}